@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@200&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.navbar{
    background-color: #072243;
}
.navbar a{
    color: white;
}
.teks-biru{
    color: #072243;
}
.bg-biru{
    background-color: #072243;
}
.teks-abu{
    color: #746A6A;
}
.selamat{
    font-size: 20pt;
    font-weight: 200;
}
.btn-login{
    background: #072243;
    color: white;
    width: 100%;
}
.logo-regis{
    background-color: #F6F7F9;
    border: 2px solid #072243;
    border-radius: 100%;
    width: 70px;
    height: 70px;
}
.logo-regis i{
    font-size: 40px;
    color: #072243;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.kartu-regis{
    padding-top: 200px;
}
.profil-icon{
    font-size: 12pt;
    margin-left: 8px;
}